:root {
  --font-size-150: 1.125rem;
  --font-size-200: 1.5rem;
  --font-size-300: 2.25rem;
  --font-size-400: 3rem;

  --font-weight-900: 900;

  --dark-BG-color: #1f2937;
  --quote-BG-color: #e5e7eb;

  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --button-color: #3882f6;
  --information-text-color: #1f2937;
  

}

*, *::before, *::after {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

header a,
.top-left p {
  font-size: var(--font-size-150);
  color: var(--secondary-text-color);
}


/* Header Content */

header {
  padding: 0 100px;
  background-color: var(--dark-BG-color);
  text-align: center;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: var(--font-size-200);
  color: var(--main-text-color);
}

header a {
  margin-left: 5px;
  text-decoration: none;
}

.push-right {
  margin-left: auto;
  padding: 15px;
}

/* Hero Content */

.top {
  background-color: var(--dark-BG-color);
  padding: 50px 100px;
  display: flex;
  justify-content: space-evenly;
}

.top-left {
  max-width: 450px;
  margin-right: 20px;
}

.top-left p,
.top-left button {
  margin-top: 10px;
}

.top-left h2 {
  color: var(--main-text-color);
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-900);
}

.top-left button {
  background-color: var(--button-color);
  color: var(--main-text-color);
  padding: 5px 20px;
  border: none;
  border-radius: 2px;
}

.top-left button:hover {
  color: var(--button-color);
  background-color: var(--main-text-color);
  outline: solid var(--button-color);
}

/* Gallery Content */

.mid-1 {
  margin: 50px 0 100px 0;
  text-align: center;
}

.mid-1 h2 {
  color: var(--information-text-color);
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-900);
}

.gallery-images {
  margin-top: 50px;
  max-width: 1800px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Testimonial Content */

.mid-2 {
  background-color: var(--quote-BG-color);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid-2 p {
  color: var(--information-text-color);
  font-size: var(--font-size-150);
  font-style: light italic;
  max-width: 450px;
  line-height: 2;
}

.mid-2 h3 {
  align-self: center;
  margin-left: 300px;
}
